h1 {
	margin: 0;
	padding: 0;
}

input {
}

button {
	box-sizing: border-box;
	border: none;
	background: transparent;
}

.glyphicon {
	color: #969696;
}


/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
.flex{
	flex: 1;
}

.main-container {
	position: relative;
	top: 56px;
	margin: 0 auto;
	margin-top: 24px;
	min-width: 50%;
	max-width: 69%;

}
 
/* NAV BAR: */
.nav-bar {
	position: fixed;
	z-index: 1;
	font-size: 18px;
	top: 0;
	padding: 0 16px;
	width: 100%;
	height: 56px;
	background-color: white;
	box-shadow: 0px -8px 16px 1px rgba(0, 0, 255, .2);
	display: flex;
	align-items: center;
}

.nav-bar-left{
	float: left;
	display: flex;
	align-items: center;
}

.youtube-logo {
	width: 129px;
}

.nav-bar-search-bar {
	display: flex;
	margin: 0px 32px;
	flex: 1;
}

.search-box {
	width: 591px;
	font-size: 16px;
	padding: 4px 13px;
	border: 1px solid rgba(0, 0, 255, .2);
	border-radius: 2px 0 0 2px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 255, .1);
}

.search-button {
	width: 65px;
	height: 32px;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid rgba(0, 0, 255, .2);
	border-left: 0;
	border-radius: 2px 0 0 2px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 255, .1);
	background-color: #f2f2f2
}

.glyphicon .glyphicon-search {
	color: 	color: #969696;
}

.nav-bar-right{
	float: right;
	display: flex;
	justify-content: flex-end;
}

.right-button {
	margin-right: 12px;
	padding: 7px 11px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.right-button-profile {
	background: #008000;
	margin-right: 10px;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.right-button-profile-text {
	font-size: 16px;
	position: relative;
	top: 1px;
	color: white;
}

/* VIDEO: */

.video-container {
	width: 66%;
}

.video-nav {
	width: 66%;
}


/* PRIMARY-INFO: */


.primary-info {
	padding: 20px 0 8px 0;
	border-bottom: 1px solid grey;

}

.primary-info-cont {
	padding: 13px 0px 0px 0px;
	display: flex;
	align-content: center;
}

.view-count {

}

.menu-controller {
	position: relative;
	display: flex;
}

.glyphicon-button {
	font-size: 21px;
	align-items: center;
	padding: 0px 0px 0px 12px;
	color: #969696;
}

.glyphicon-button .text{
	font-size: 13px;
	padding: 0px 0px 8px 0px;
	vertical-align: middle;
}

.likes {
	align-items: center;
	padding-right: 10px;

}

#like-button {
	border: none;
	margin: 0;
}

.likes {
	align-items: center;
	padding-right: 10px;

}

#like-button {
	border: none;
	margin: 0;
}


/* SECONDARY-INFO: */

.top-row {
	margin-bottom: 12px;
	margin-top:16px;
	display: flex;
	flex-direction: row;
}

.yt-img {
	margin-right: 16px;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	overflow: hidden;
}

#author-img {
	display: flex;
}

.upload-info {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.owner-container {
	display: flex;
	flex-direction: row;
}

.date {

}

.subscribe-button-renderer {
	display: flex;
}

.subscribe-button {
	width: 136px;
	height: 37px;
	border-radius: 3px;
	background-color: red;
}

.subscribe-button .text {
	font-weight: bold;
}

.subscribe-button #subscribe {
	margin-right: 2px;
	color: white;
}

.subscribe-button #subscribe-number {
	margin-left: 2px;
	color: lightgray;
}

#number-subs {
	margin-left: 3px;
}

.share {

}

.description {
	margin-left: 64px;
	white-space: pre-line;
}


#more {
	white-space: normal;
	margin-top: 32px;
}


/* COMMENTS: */

.comments {
	float: left;
	width: 66%;
}

.up-next {
	float: right;
	width: 32%;
}

/* UP-NEXT ASIDE: */

.up-next {
	display: flex;
	flex-direction: column;
}

.autoplay {
	display: flex;
	flex-direction: row;
}