.container {
	margin: 0 auto;
	margin-top: 24px;
	min-width: 50%;
	max-width: 69%;

}

.video {
	float: left;
	margin: 0px auto auto auto;
	width: 66%;
}

.primary-info {
	display: flex;
	border-bottom: 1px solid grey;
}

.view-count {

}

.flex{
	flex: 1;
}

.share {

}

.description {
	float: left;
	width: 66%;
}

.comments {
	float: left;
	width: 66%;
}

.up-next {
	float: right;
	width: 32%;
}